{
  "presets": [
    ["es2015", {"modules":false}], //base config
    "stage-2",
    "react"
  ],
  "plugins": ["transform-decorators-legacy"],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel",
      ]
    },
    "production": {
    }
  }
}